html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
}

body > div {
	height: 100vh;
	display: flex;
}

.hidden {
	display: none;
}
.container,
main {
	margin: auto;
	display: block;
	max-height: 100%;
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
}

.container:hover .nudejs {
	display: block;
}
.container .prank {
	display: none;
	border-radius: 100%;
	text-align: center;
}

.container:hover .nudejs {
	display: none;
}
.container:hover .prank {
	display: block;
}

.prank {
	position: relative;
}
.prank h1 {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 5px black;
}

.gelatine {
	animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
	from,
	to {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.9, 1.1);
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}

.shake {
	animation: shake 2s ease infinite;
}
@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}
